body{
    background: rgb(193, 192, 192);
}

#outer{
    display: flex;
    flex-direction: column;
}

#inner{
    margin: auto;
    margin-top: 200px;
}

button{
    width: 100%;
}

input{
    width: 100%;
}

select{
    width: 100%;
}

a{
    display: block;
    width: 200px;
    height: 1.5em;
    background: black;
    color: white;
    text-align: center;
    text-decoration: none;
    float: left;
    margin-top: 5px;
}

a:hover{
    background: grey;
}